.card {
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
    margin: 0px;
    color: black;
}

.card-body {
    padding: 10px;
}

.form-group {
    margin: 0px;
}


.btn-success {
    height: 40px;
    width: 20px;
    margin-left: 75px;
}

.btn-danger {
    height: 40px;
    padding: 0px;
    border: 10px;
}

.container {
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}


#servico {
    padding-right: 0px;
    margin-right: 10px;
    margin-left: 45px;
}

#valor {
    padding-left: 0px
}

/*-----------------Estiliza tabela----------------*/


/* a primeira cinza */
#trTable:nth-child(odd) {
    background-color: rgb(165, 165, 165);
}

/* seleciona deixa branco */
#trTable:hover {
    background-color: rgb(133, 133, 133);
    border: 2px solid;
    border-color: rgb(250, 100, 0);
}

/* última preta */
#tfTable {
    background-color: rgb(0, 0, 0);
}

/* última preta */
#tfTable {
    border-bottom: none;
}

.table-round-corner {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;

}

/* Estiliza cor, background e texto da tabela */
.td {
    padding: 1em;

}

.th {
    background-color: rgb(2, 2, 2);
    color: rgb(255, 255, 255)
}

#total {
    color: rgb(255, 255, 255);
    border-color: black;
    padding-right: 0px;
}

#entrada {
    color: rgb(0, 255, 0);
    border-color: black;
}

#saida {
    color: rgb(255, 0, 0);
    border-color: black;
}

.table {
    margin-top: 5px;
    margin-left: 20px;
}

.btnTrash {
    color: red
}


/* 
.table-round-corner {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    overflow:hidden;
    border-collapse:separate;
    border: solid #ccc 1px;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
}


.table-round-corner .td {
    color: #aaa;
    background-color: white;
    padding: 5px;
    border: 1px solid #ddd;
}

.table-round-corner .th{
    color: rgb(14, 10, 10);
    background-color: red;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    font-size: 12px;
} */