ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
 
  }
  li {
    display: inline;    
  } 
  
  .format {    
    display: block;
    padding: 1px;
    background-color: #fffdfd;
    border-radius: 20px;
    float: right;
    margin: 0px 10px;
  }
  .format:hover{
      background-color: rgb(116, 122, 120);
  }
  .navbar {
      background-color: rgb(144, 143, 140);
      
  }
  
