 /* .modal {
     display: block;
     background-color: rgba(0, 0, 0, 0.8);
    }
    
    .btn {
        margin-left: 0px;
        width: 100%;
    }
    
    .finish {
     background-color: #ffff;
      } */